@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

.offcanvas {
  background-color: rgba(33, 37, 41, 0.75);
}

.navbar-toggler {
  border: none;
}

@media (min-width: 992px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;

    .nav-link {
      padding-top: $navbar-padding-y + $nav-link-padding-y;
      padding-bottom: $navbar-padding-y + $nav-link-padding-y;

      &.active {
        border-bottom: 3px solid $navbar-light-active-color;
        padding-bottom: $navbar-padding-y + $nav-link-padding-y - 0.1875rem;
      }
    }
  }
}